<ion-view view-title="Home">
  	<ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url({{usuario.fotoPortada}});">
            <div class="content">
                <div class="avatar" style="background-image: url({{usuario.fotoPerfil}});"></div>
                <h3><a class="light">{{usuario.nombre}}</a></h3>
                <h4>{{usuario.email}}</h4>
            </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.nva-batalla" class="tab-item">
                <i class="icon ion-android-boat"></i> Batalla Naval
            </a>
            <a ui-sref="app.desafios" class="tab-item">
                <i class="icon ion-trophy"></i> Desafios
            </a>
            <a ui-sref="app.perfil" class="tab-item">
                <i class="icon ion-images"></i> Perfil
            </a>
        </div>
        <h4 class="content padding double-padding-x" ng-hide="admin">Ultimo Desafio</h4>
        <div class="list animate-fade-slide-in-right" ng-hide="admin">
            <a ui-sref="#" class="item item-avatar item-icon-right">
                <h2>{{historial.mensaje}}</h2>
                <p>Creditos apostados: {{historial.creditos}}</p>
                <i class="icon ion-ios-paper-outline"></i>
            </a>
            <!--<a ui-sref="#" class="item item-avatar item-icon-right">
                <h2>Jon Snow</h2>
                <p>Da illest illegitimate</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
            <a ui-sref="#" class="item item-avatar item-icon-right">
                <h2>Sansa Stark</h2>
                <p>&amp; Joffrey <strike>sitting</strike> sat in a tree</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
            <a ui-sref="#" class="item item-avatar item-icon-right">
                <h2>Tyrion Lannister</h2>
                <p>B.A.M.F. imp</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>-->
        </div>
        <h4 class="content padding double-padding-x" ng-show="admin">Notificar Desafios Actualizados</h4>
        <div class="list animate-fade-slide-in-right" ng-show="admin">
            <button class="button button-block button-assertive" ng-click="PushNotification()">Enviar Notificacion</button>
        </div>
    </ion-content>
</ion-view>
