<ion-view view-title="Nuevo Desafio">
  <ion-content style="background-color:#666">
    <h1>Nuevo Desafio</h1>
    <div class="list">
     <label class="item item-input item-floating-label">
        <span class="input-label">Descripcion</span>
        <input type="text" placeholder="Descripcion" name="descripcion" id="descripcion" ng-model="desafio.descripcion"> 
     </label> 
     <label class="item item-input item-floating-label">
        <span class="input-label">Creditos</span>
        <input type="number" placeholder="Creditos" ng-model="desafio.creditos">
     </label>
     <button class="button button-block button-balanced" ng-click="GenerarDesafio()" ng-disabled="!desafio.creditos || !desafio.descripcion">Generar Desafio</button>
    </div>
                

    
  </ion-content>
</ion-view>